<?xml version="1.0"?>
<launch> 
    <param name="/use_sim_time" value="true" />   
    <arg name="robot_name" default="robot1"/>
    <remap from="/scan" to="$(arg robot_name)/scan"/>
    <remap from="/cmd_vel_mux/input/teleop" to="$(arg robot_name)/cmd_vel_mux/input/teleop"/>
 


    <!-- Launch turtle bot world -->
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>       

    <!-- Launch stopper node -->
    <node name="stopper" pkg="stopper" type="stopper" output="screen" args="$(arg robot_name)">
    </node>

</launch>
