<?xml version="1.0"?>

<launch>

  <param name="/use_sim_time" value="true"/>
  <arg name="states_to_odom_yaml"/>
  
  <!-- The true pose updater node -->
  <node name="state_updater" pkg="ros_pam" type="true_pose_from_gazebo.py" output="screen">
    <param name="yaml_file" value="$(arg states_to_odom_yaml)"/>
  </node>

</launch>
